* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav h1 {
    font-size: 24px;
    letter-spacing: 2px;
}

nav h1 strong {
    color: #b3f38e;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: #888888;
    color: #fff;
    transition: transform 0.3s ease;
}

nav:hover {
    animation: bubble 0.4s ease;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

ul li {
    display: inline-block;
    padding: 0 12px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    padding: 5px 6px;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    animation: bubble 0.4s ease;
    color: #6BAD5A;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    animation: bubble 0.4s ease;
    color: #263123;
}

@keyframes bubble {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

a {
    text-decoration: none;
}